*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.nav-left {
  background-color: #672B44;
  color: white;
  position: fixed;
  left: 0;
  top: 8vh;
  margin: 0;
  height: 100vh;
  width: 10vw;
  box-shadow: 5px 5px 5px #686262;
  z-index: 1000;
  display: flex;
  flex-flow: column wrap;
}
.nav-left .nav-left-link {
  color: white;
  text-decoration: none;
}

.nav-left-bottom {
  align-self: center;
}
.nav-left-bottom .copyright {
  font-size: 0.6rem;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.nav-project-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.nav-project-info .nav-project-name {
  font-size: 1.4rem;
}
.nav-project-info .nav-project-button {
  text-decoration: none;
  margin: 0 1vw 0 1vw;
}

.nav-top {
  background-color: #672B44;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 8vh;
  display: grid;
  grid-template-areas: "logo 2 3";
  box-shadow: 5px 5px 5px #686262;
  z-index: 1000;
}
.nav-top .logo {
  grid-area: logo;
  justify-self: flex-start;
  align-self: baseline;
  margin: 0 0 0 1vw;
  padding: 10px;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.nav-top .logged-in-options {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: flex-end;
  padding: 10px;
}
.nav-top .logged-in-options .greeting {
  margin: 0 2vw 0 0;
  align-self: center;
}
.nav-top .logged-in-options #user-avatar {
  width: 50px;
  height: 50px;
}
.nav-top .logged-in-options .user-menu {
  position: absolute;
  background-color: #672B44;
  top: 8vh;
  z-index: 900;
  right: 0;
}
.nav-top .logged-in-options .user-menu-enter {
  transform: translateX(100%);
}
.nav-top .logged-in-options .user-menu-enter-active {
  transform: translateX(0);
  transition: transform 0.3s linear;
}
.nav-top .logged-in-options .user-menu-exit {
  transform: translateX(0);
}
.nav-top .logged-in-options .user-menu-exit-active {
  transform: translateX(100%);
  transition: transform 0.3s linear;
}

.landing-page-logged-out {
  margin: 10vh auto;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.register-blurb {
  background-color: #686262;
  margin: 3vh auto;
  padding: 5vh 5vw 5vh 5vw;
  width: 60vw;
}
.register-blurb .register-button {
  margin: 1vw 1vh 1vw 1vh;
  text-decoration: none;
}

.login-form {
  margin: 0 auto;
  background-color: #686262;
  padding: 5vh 5vw 5vh 5vw;
}
.login-form form {
  display: flex;
  flex-flow: column wrap;
  width: 60vw;
}
.login-form form .login-input {
  margin: 10px;
  color: black;
}

.landing-page-container {
  background-color: #757373;
  display: grid;
  grid-template-areas: "1 2";
  margin: 8vh 0 10vh 10vw;
  width: 90vw;
  top: 8vh;
  left: 10vw;
  background: none;
  overflow: auto;
}
.landing-page-container .project-cards-container {
  margin-left: 1vw;
  height: 100%;
  width: 50vw;
  justify-self: center;
}
.landing-page-container .project-card-heading {
  text-align: center;
  padding: 1vh;
  color: white;
  font-size: 1.6rem;
}
.landing-page-container .project-cards {
  display: grid;
  grid-template-areas: "1 2";
  column-gap: 1vw;
  row-gap: 2vh;
  overflow: scroll;
}

.updates-container {
  width: 30vw;
  justify-self: center;
  align-self: baseline;
}
.updates-container .updates-header {
  text-align: center;
  padding: 1vh;
  color: white;
  font-size: 1.6rem;
}
.updates-container .updates-paper {
  width: 30vw;
  height: 100vh;
}

.register-div {
  align-items: center;
  justify-items: center;
  background-color: #686262;
  margin: 10vh auto;
  padding: 5vh 5vw 5vh 5vw;
  width: 80vw;
}
.register-div .register-form {
  display: flex;
  flex-flow: column wrap;
}
.register-div .register-form .register-input {
  width: 200;
  margin: 10px;
}

.project-card {
  height: 40vh;
  padding: 0 2vw 0 2vw;
  display: flex;
  flex-flow: column wrap;
}
.project-card .card-image {
  width: 100%;
  max-height: 20%;
}

#project-card-name {
  text-decoration: none;
  color: black;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

#project-card-buttons {
  display: grid;
  grid-template-areas: "1 2" "3 4";
  padding: 0;
  align-self: flex-end;
  padding: 10px;
  row-gap: 1vh;
  width: 100%;
}

#project-card-button {
  margin: 0;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
#project-card-button-right {
  text-align: right;
  text-decoration: none;
}

.quick-links-menu {
  grid-area: quick;
  max-width: 20vw;
  background-color: #a4a2a2;
  box-shadow: 2px 2px 2px #686262;
  margin: 2vh 1vw 5vh 0;
}
.quick-links-menu .quick-links-item {
  color: white;
  text-decoration: none;
}

.information-container {
  grid-area: info;
  width: 90%;
  height: 100vh;
  justify-self: center;
  align-self: baseline;
  margin: 2vh 1vw 5vh 1vw;
  background-color: #C4C4C4;
}
.information-container .info-head {
  text-align: center;
  font-size: 1.6rem;
  margin: 1vh 0 1vh 0;
}

.project-detail-container {
  margin: 8vh 0 0vh 10vw;
  display: grid;
  grid-template-areas: "quick center info";
}
.project-detail-container .center-detail-div {
  justify-self: center;
  margin: 2vh 1vw 5vh 1vw;
  width: 90%;
  text-align: center;
}
.project-detail-container .center-detail-div .project-detail-image {
  max-width: 100%;
  height: 30vh;
  margin: 2vh 0 1vh 0;
  box-shadow: 2px 2px 2px #494848;
}
.project-detail-container .recent-project-updates {
  display: flex;
  flex-flow: column wrap;
}
.project-detail-container .recent-project-updates .recent-head {
  font-size: 1.6rem;
  margin: 2vh 0 2vh 0;
}
.project-detail-container .recent-project-updates .project-updates {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.project-detail-container .recent-project-updates .project-updates .add-announcement-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1vh 0 1vh 0;
}
.project-detail-container .recent-project-updates .project-updates .submit-announce {
  align-self: flex-end;
}

.project-form-container {
  display: grid;
  grid-template-areas: "";
}
.project-form-container .project-forms {
  margin: 8vh 0 10vh 10vw;
  display: grid;
  grid-template-areas: "1 2";
}
.project-form-container .main-form {
  display: flex;
  flex-flow: column wrap;
  padding-top: 2vh;
  width: 80%;
  align-items: center;
  justify-content: center;
  background-color: #a4a2a2;
}
.project-form-container .main-form .project-form-input {
  margin: 1vh 0 1vh 0;
  width: 40vw;
}
.project-form-container .main-form .date-inputs {
  display: flex;
  flex-flow: row nowrap;
}
.project-form-container .roles-form {
  background-color: #a4a2a2;
}

body {
  background-color: #757373;
  font-family: "Prompt", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*# sourceMappingURL=main.css.map */
